[Unit]
Description=Packet Bot
After=multi-user.target

[Service]
Type=idle
#Restart=always
Restart=on-failure
User=cryptkeeper
WorkingDirectory=/var/cryptkeeper/bot
ExecStart=/usr/local/bin/pipenv run python3 -m cryptkeeper 2>&1
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target